{% extends '../base.twig' %}

{% block content %}
    {# Odosielat prispevky moze len prihlaseny pouzivatel #}
    <div class="card mt-2">
        <div class="card-header">{{ podujatie.meno}}</div>
        <div class="card-body">
            <div class="float-start">{{ podujatie.opis}}</div>
            <div class="float-end">{{ podujatie.datum | date('d. m. Y')}}</div></br>
            <div class="float-end">{{ podujatie.miesto}}</div>
            <div class="float-end">{{ podujatie.kraj}}</div>
        </div>
    </div>
    <form action="../post/new/{{ podujatie.id }}" method="post">
        <div class="card mt-2">
            <div class="card-header">Pridať nový príspevok</div>
            <div class="card-body">
                <textarea name="message" class="form-control"></textarea>
            </div>
            <div class="card-footer">
                <input type="submit" class="btn btn-success float-end" value="Odoslať">
                <div class="form-outline w-25">
                    Meno:
                    <input type="text" class="float-left form-control" name="meno">
                </div>
            </div>
        </div>
    </form>
    {% for post in posts %}
        <div class="card mt-4">
            <div class="card-header">
                <div class="float-start">
                    <i class="fa-solid fa-user"></i> {{ post.meno }}
                    &nbsp;<i class="fa-regular fa-clock"></i> {{ post.created_at | date('d. m. Y H:i') }}
                </div>
                <div class="float-end">
                    <div class="badge bg-info" data-action="add-like" style="cursor: pointer" data-post-id="{{ post.id }}">
                        <div class="float-start">
                            <i class="fa-solid fa-thumbs-up"></i> &nbsp
                        </div>
                        <div id="post-rating-{{ post.id }}" class="float-end">{{ post.rating }}</div>
                    </div>
                    {# Administrator ma pravo vymazavat prispevky #}
                    {% if 'admin' in user.roles %}
                        <a class="badge bg-danger d-block" href="/post/delete/{{ post.id }}"><i class="fa-solid fa-trash"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <pre>{{ post.message }}</pre>
            </div>
        </div>
    {% endfor %}
{% endblock %}