{% extends '../base.twig' %}

{% block content %}
    {# Odosielat prispevky moze len prihlaseny pouzivatel #}
    {% for podujatie in podujatia %}
        {% if 'admin' in user.roles %}
            <div class="card mt-4">
                <div class="card-header">
                        <div class="float-end">{{ podujatie.opis}}</div>
                        <div class="float-start"><a href="/post/{{ podujatie.id }}">{{ podujatie.meno}}</a></div>
                </div>
                <div class="card-body">{{ podujatie.datum | date('d. m. Y')}}</div>
            </div>
            {% if 'admin' in user.roles %}
                <a class="badge bg-danger d-block" href="/podujatia/delete/{{ podujatie.id }}"><i class="fa-solid fa-trash"></i></a>
                <a class="badge bg-success d-block" href="/podujatia/uprav/{{ podujatie.id }}"><i class="fa-solid fa-edit"></i></a>
            {% endif %}
        {% else %}
            {% if podujatie.datum > datum %}
                <div class="card mt-4">
                    <div class="card-header">
                        <div class="float-end">{{ podujatie.opis}}</div>
                        <div class="float-start"><a href="/post/{{ podujatie.id }}">{{ podujatie.meno}}</a></div>
                    </div>
                    <div class="card-body">{{ podujatie.datum | date('d. m. Y')}}</div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="card mt-4">
        <div class="card-header">
            <div class="float-start">Nastavenie vyhlad치vania</div>
        </div>
        <a class="badge bg-secondary d-block" href="/podujatia/sort" >Podla d치tumu dole</a>
        <a class="badge bg-secondary d-block" href="/podujatia/hore" >Podla d치tumu hore</a>
        <a class="badge bg-secondary d-block" href="/podujatia/meno" >Podla mena</a>
        <a class="badge bg-secondary d-block" href="/podujatia/region" >Podla regi칩nu</a>
    </div>
{% endblock %}